/SessionApps/target/
/FilterApp/target/
/SampleFilterApp/target/
/ListenerApp/target/
/SampleJSPApp/target/
/SampleJSTLApp/target/
/SampleEJBApp/target/
/TestStates/target/
/CurrencyModule/target/
/CurrencyWebApp/target/
/ShopEJBModule/target/
/ShopWebApp/target/
/EnterpriseBookApp/target/
/MessageModule/build/
/MessageModule/dist/
/MessageModule/nbproject/private/
/RemoteEJBModule/target/
/EJBClientApp/target/
/StringEJBModule/target/
/JSPEJBApp/target/
/EJBModule1/nbproject/private/
/EJBMessagingModule/nbproject/private/
/EJBMessagingModule/dist/
/EJBMessagingModule/build/
/MessageClientApp/target/
/EJBRecieverModule/nbproject/private/
/EJBRecieverModule/dist/
/EJBRecieverModule/build/
/SingletonApp/target/
/DataApp/target/
/PublishApp/target/
/SOAPApp/nbproject/private/
/SOAPApp/build/
/JSFApp/target/
/DataJSFApp/target/
